<footer>
    <div class="footer-mantenteInformado">
        <p class="footer-texto">Matente Informado</p>
        <div class="footer-contFooter">
            <input class="footer-dejarMail" type="text" name="" value="" placeholder="Dejanos tu mail">
            <div class="footer-divBoton">
                <button type="submit" class="footer-botonFooter"><i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="footer-contenedorFooter">
        <div class="footer-contactoYpedido">
           <p>
                <a href="#" id="Contacto">Contacto</a>
            </p>
           <p>
                <a href="#" id="Envios">¿Dónde está mi pedido?</a>
            </p> 
        </div>
        <div class="footer-iconosFooter">
            <i class="fab fa-facebook-f"></i> 
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="far fa-envelope"></i>
        </div>
        <div class="footer-ayudaYenvios">
           <p>
                <a href="#">Ayuda</a>
            </p> 
           <p>
                <a href="#">Envíos Internacionales</a>
           </p>
        </div>
    </div>
    <div class="footer-copyRight">
        <p>Copyright © 2021 SK Libros</p>
    </div>
</footer>