<footer>
    <div class="mantenteInformado">
        <p class="texto">Matente Informado</p>
        <div class="contFooter">
            <input class="dejarMail" type="text" name="" value="" placeholder="Dejanos tu mail">
            <div class="divBoton">
                <button type="submit" class="botonFooter"><i class="fas fa-arrow-up"></i></button>
            </div>
        </div>
    </div>
    <div class="contenedorFooter">
        <div class="contactoYpedido">
           <p>
                <a href="#">Contacto</a>
            </p>
           <p>
                <a href="#">¿Dónde está mi pedido?</a>
            </p> 
        </div>
        <div class="iconosFooter">
            <i class="fab fa-facebook-f"></i> 
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="far fa-envelope"></i>
        </div>
        <div class="ayudaYenvios">
           <p>
                <a href="#">Ayuda</a>
            </p> 
           <p>
                <a href="#">Envíos Internacionales</a>
           </p>
        </div>
    </div>
    <div class="copyRight">
        <p>Copyright © 2021 SK Libros</p>
    </div>
</footer>