<header>
    <div class="header-top-bar">
        <a href="/"><img src="/img/SK libros logo 77 fondo gris.png" alt="" class="header-logo"></a>
        <nav class="header-nav-header-top-bar">
            <ul class="header-lista-top-header">
                <li class="header-esconderdelcel header-li-header-top"> 
                    <a href="/users/register" class="header-link-registrate">Regístrate</a>
                </li>
                <li class="header-esconderdelcel header-li-header-top">
                    <a href="/users/login" class=" header-link-inicia-sesion">Inicia Sesión</a>
                </li>
                <li class="header-li-header-top">
                    <a href="/products/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-bottom-bar">
        <nav>
            <ul class="header-lista-bottom-header">
                <li>
                    <a href="#">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>
                <li>
                   <a href="#" class=" header-links-bottom-header-nav">
                       Categorías
                       <i class="fas fa-sort-down"></i>
                   </a> 
                </li>
                <li>
                    <a href="#" class="header-links-bottom-header-nav header-link-informacion">
                        Información
                        <i class="fas fa-sort-down"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="header-buscador">
            <input type="text" placeholder="Buscar libros" class="header-input-buscador">
            <button class="header-boton-buscador">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</header>