<header>
  <div class="header-top-bar">
    <a href="/"
      ><img
        src="/img/SK libros logo 77 fondo gris.png"
        alt=""
        class="header-logo"
    /></a>
    <nav class="header-nav-header-top-bar">
      <ul class="header-lista-top-header">
        <% if (user) { %>
        <li class="header-esconderdelcel header-li-header-top">
          <a href="/users/profile/" class="header-link-registrate">Mi Perfil</a>
        </li>
        <li class="header-esconderdelcel header-li-header-top">
          <a href="/users/logout/" class="header-link-inicia-sesion"
            >Cerrar Sesión</a
          >
        </li>
        <% } else { %>
        <li class="header-esconderdelcel header-li-header-top">
          <a href="/users/register" class="header-link-registrate"
            >Regístrate</a
          >
        </li>
        <li class="header-esconderdelcel header-li-header-top">
          <a href="/users/login" class="header-link-inicia-sesion"
            >Inicia Sesión</a
          >
        </li>
        <% } %>
        <li class="header-li-header-top">
          <a href="/products/cart">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="header-bottom-bar">
    <nav class="header-nav-bottom">
      <ul class="header-lista-bottom-header">
        <li>
          <i class="fas fa-bars"></i>
        </li>
        <li>
          <a class="header-links-bottom-header-nav" id="header-categoria">
            Categorías
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <% if (user && user.categorias_id === 3) { %>
        <li  id="li-admin">
          <a class="header-links-bottom-header-nav header-link-informacion" id="header-admin">
            Administración
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <% }else { %>
        <li>
          <a class="header-links-bottom-header-nav header-link-informacion" id="header-info">
            Información
            <i class="fas fa-sort-down"></i>
          </a>
        </li>
        <% } %>
      </ul>
      <ul class="header-dropdown-display" id="dropdown-celu">
        <li class="header-dropdown-li" id="cat-celu">
          Categorías <i class="fas fa-sort-down" id="i-mobile-espacio"></i>
        </li>
        <ul class="header-dropdown-display" id="ulOcultoCat">
          <li>
            <a href="/products" class="ulOcultoCatLi">Todos los productos</a>
          </li>
          <li><a href="/products/terror" class="ulOcultoCatLi">Terror</a></li>
          <li>
            <a href="/products/suspenso" class="ulOcultoCatLi">Suspenso</a>
          </li>
          <li>
            <a href="/products/fantasia" class="ulOcultoCatLi">Fantasía</a>
          </li>
        </ul>
        <li class="header-dropdown-li" id="info-celu">
          Información <i class="fas fa-sort-down"></i>
        </li>
        <ul class="header-dropdown-display" id="ulOcultoInfo">
          <li><a href="#Envios" class="ulOcultoCatLi">Envíos</a></li>
          <li><a href="#Contacto" class="ulOcultoCatLi">Contacto</a></li>
          <li>
            <a href="https://es.wikipedia.org/wiki/Stephen_King" target="_blank" class="ulOcultoCatLi">Stephen King</a>
          </li>
        </ul>
        <% if (user) { %>
          <li class="header-dropdown-li">
            <a href="/users/profile" class="li-dropdown-a">Mi Perfil</a>
          </li> 
          <li class="header-dropdown-li">
            <a href="/users/logout/" class="li-dropdown-a">Cerrar Sesión</a>
          </li>
          <% }else{ %>
        <li class="header-dropdown-li">
          <a href="/users/register" class="li-dropdown-a">Regístrate</a>
        </li>
        <li class="header-dropdown-li" id="info-celu">
          <a href="/users/login" class="li-dropdown-a">Iniciar Sesión</a>
        </li>
      <% 
      } %> 
      </ul>
      <ul class="header-dropdown-display" id="dropdown-cat">
        <li class="header-dropdown-li">
          <a href="/products" class="li-dropdown-a">Todos los Productos</a>
        </li>
        <li class="header-dropdown-li">
          <a href="/products/terror" class="li-dropdown-a">Terror</a>
        </li>
        <li class="header-dropdown-li">
          <a href="/products/suspenso" class="li-dropdown-a">Suspenso</a>
        </li>
        <li class="header-dropdown-li">
          <a href="/products/fantasia" class="li-dropdown-a">Fantasía</a>
        </li>
      </ul>
      <ul class="header-dropdown-display" id="dropdown-info">
        <li class="header-dropdown-li">
          <a href="#Envios" class="li-dropdown-a">Envíos</a>
        </li>
        <li class="header-dropdown-li">
          <a href="#Contacto" class="li-dropdown-a">Contacto</a>
        </li>
        <li class="header-dropdown-li ultimoLi">
          <a
            href="https://es.wikipedia.org/wiki/Stephen_King"
            target="_blank"
            class="li-dropdown-a"
            >Stephen King</a
          >
        </li>
      </ul>
      <ul class="header-dropdown-display" id="dropdown-admin">
        <li class="header-dropdown-li">
          <a href="/products/create" class="li-dropdown-a">Crear un producto</a>
        </li>
        <li class="header-dropdown-li">
          <a href="/products" class="li-dropdown-a">Editar un producto</a>
        </li>
      </ul>
    </nav>
    <form action="/products/search" method="POST" class="header-buscador">
      <input
        type="text"
        placeholder="Buscar libros"
        class="header-input-buscador"
        name="search"
      />
      <button class="header-boton-buscador">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
  <script src="/js/header.js"></script>
</header>
