<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
</head>

<body>
    <%- include("./partials/header") %>
        <form class="cr-formCreate">
            <h2 class="cr-tituloCreate">Crear producto</h2>
            <div class="cr-nombreCreate">
                <label class="cr-label" for="nombreProducto">Nombre del producto:</label>
                <input class="cr-nombreProducto" type="text" name="nombreProducto" placeholder="Ej: El visitante">
            </div>
            <div class="cr-desCreate">
                <label class="cr-label" for="descripcion">Describe el producto</label>
                <textarea class="cr-descProducto" name="despripcion" placeholder="Jamie Conklin, el único hijo de una madre soltera, solo quiere tener una infancia normal..."></textarea>
            </div>
            <div class="cr-divFoto">
                <label class="cr-label" for="foto">Selecciona una imagen del producto</label>
                <input class="cr-fotoCreate" type="file" name="foto">
            </div>
            <div class="cr-categoriaCreate">
                <label class="cr-label" for="categoria">Género del producto</label>
                <select class="cr-genero" name="categoria">
                    <option value="Suspenso">Suspenso</option>
                    <option value="Terror">Terror</option>
                    <option value="Fantasía">Fantasía</option>
                </select>
            </div>
            <div class="cr-precioCreate">
                <label class="cr-label" for="precio">Precio del producto</label>
                <input class="cr-precio" type="text" name="precio" placeholder="Ej: $2000">
            </div>
            <div >
                    <button class="cr-botónCreate" type="submit"  class="boton-registro">
                        <a class="cr-a" href="/">Crear producto</a>
                    </button>
            </div>
        </form>
        <%- include("./partials/footer") %>
</body>

</html>