<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", {title: "Crear Producto"}) %>
</head>

<body>
    <%- include("./partials/header") %>
        <form class="editp-formCreate" action="/products" method="POST" enctype="multipart/form-data"> 
            <h2 class="editp-tituloCreate">Crear producto</h2>
            <div class="editp-main-div">
                <ul class="editp-ul">
                    <li class="editp-label">
                        <label for="name">Nombre</label>
                    </li>
                    <li>
                        <input class="editp-input" type="text" name="name" placeholder="Ej: El visitante">
                    </li>
                    <li class="editp-label">
                        <label for="description">Descripción</label>
                    </li>
                    <li>
                        <textarea class="editp-input" name="description" placeholder="Jamie Conklin, el único hijo de una madre soltera, solo quiere tener una infancia normal..."></textarea>
                    </li>
                    <li class="editp-label editp-cambiar-imagen">
                        <label class="editp-input" for="image">Seleccionar imágenes</label>
                    </li>
                    <li>
                        <input class="cr-fotoCreate" type="file" name="image" id="image">
                    </li>
                    <li class="editp-label">
                        <label for="gender">Género</label>
                    </li>
                    <li>
                        <select class="editp-input" name="gender">
                            <option value="3">Suspenso</option>
                            <option value="2">Terror</option>
                            <option value="1">Fantasía</option>
                        </select>
                    </li>
                    <li class="editp-label">
                        <label for="price">Precio</label>
                    </li>
                    <li>
                        <input class="editp-input" type="text" name="price" placeholder="Ej: $2000">
                    </li>
                    <li class="editp-label">
                        <label for="discount">Descuento</label>
                    </li>
                    <li>
                        <input class="editp-input" type="text" name="discount" placeholder="Ej: 40%">
                    </li>
                </ul>
            </div>
            <div>
                <button class="editp-botónCreate" type="submit">
                    Crear
                </button>
            </div>
        </form>
        <%- include("./partials/footer") %>
    </body>
</html>