<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/index.css">
    <title>SK Libros</title>
</head>
<body>
    <header>
        <div class="header-top-bar">
            <img src="/imgs/logoecommerce.png" alt="" class="logo">
            <nav class="nav-header-top-bar">
                <ul class="lista-top-header">
                    <li class="li-header-top">
                        <a href="#" class="link-registrate">Regístrate</a>
                    </li>
                    <li class="li-header-top">
                        <a href="#" class=" link-inicia-sesion">Inicia Sesión</a>
                    </li>
                    <li class="li-header-top">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom-bar">
            <nav>
                <ul class="lista-bottom-header">
                    <li>
                        <a href="#">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                       <a href="#" class=" links-bottom-header-nav">
                           Categorías
                           <i class="fas fa-sort-down"></i>
                       </a> 
                    </li>
                    <li>
                        <a href="#" class="links-bottom-header-nav link-informacion">
                            Información
                            <i class="fas fa-sort-down"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="buscador">
                <input type="text" placeholder="Buscar libros" class="input-buscador">
                <button class="boton-buscador">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </header>
</body>
</html>