<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
</head>
<body>
    <%- include("./partials/header") %>
    <main class="index-main">
    <!--CARRUSEL-->
    <div class="index-slider">
        <ul>
            <li><img src="img/carrusel 3.png" alt=""></li>
            <li><img src="img/carrusel.webp" alt=""></li>
            <li><img src="img/carrusel2.png" alt=""></li>
            <li><img src="img/carrusel4.png" alt=""></li>
        </ul>
    </div>
    <!--PRODUCTOS-->
        <div class="index-titulo-productos">
            <h3>
                 <a href="">Terror</a>
            </h3>
        </div>
        <section class="index-caja-productos">
            <div class="index-producto">
                <div class="index-img-productos">
                    <div class="index-msj-producto">
                        <p class="index-parrafo-nuevo">Nuevo!</p>
                    </div>
                    <img src="/img/visitante.jpg" alt=""> 
                </div>
                <div class="index-caja-descripcion">
                    <a href="/productDetail">
                        <p class="index-descripciones"><b>El Visitante</b></p>
                    </a>
                    <div class="index-contenedor-detalles">
                        <p class="index-precios">$6.770</p>
                        <p class="index-descuentos">40% OFF</p>
                    </div>
                    <button type="" class="index-agregar-carrito">Agregar al carrito</button>
                </div>
            </div>
            <div class="index-producto">
                <div class="index-img-productos">
                    <div class="index-msj-producto">
                        <p class="index-parrafo-nuevo">Nuevo!</p>
                    </div>
                    <img src="/img/lasangre-manda.jpg" alt=""> 
                </div>
                <div class="index-caja-descripcion">
                    <a href="/productDetail">
                        <p class="index-descripciones"><b>La sangre manda</b></p>
                    </a>
                    <div class="index-contenedor-detalles">
                        <p class="index-precios">$6.770</p>
                        <p class="index-descuentos">40% OFF</p>
                    </div>
                    <button type="" class="index-agregar-carrito">Agregar al carrito</button>
                </div>
            </div>
            <div class="index-producto">
                <div class="index-img-productos">
                    <div class="index-msj-producto">
                        <p class="index-parrafo-nuevo">Nuevo!</p>
                    </div>
                    <img src="/img/despues.jpg" alt=""> 
                </div>
                <div class="index-caja-descripcion">
                    <a href="/productDetail">  
                        <p class="index-descripciones"><b>Después</b></p>
                    </a>
                    <div class="index-contenedor-detalles">
                        <p class="index-precios">$6.770</p>
                        <p class="index-descuentos">40% OFF</p>
                    </div>
                    <button type="" class="index-agregar-carrito">Agregar al carrito</button>
                </div>
            </div>
            <div class="index-producto">
                <div class="index-img-productos">
                    <div class="index-msj-producto">
                        <p class="index-parrafo-nuevo">Nuevo!</p>
                    </div>
                    <img src="/img/elinstituto.jpg" alt=""> 
                </div>
                <div class="index-caja-descripcion">
                    <a href="/productDetail">
                        <p class="index-descripciones"><b>El Instituto</b></p>
                    </a>
                    <div class="index-contenedor-detalles">
                        <p class="index-precios">$2.770</p>
                        <p class="index-descuentos">25% OFF</p>
                    </div>
                    <button type="" class="index-agregar-carrito">Agregar al carrito</button>
                </div>
            </div>
        </section>
    <!--ANUNCIO-->
        <div class="index-anuncio">
            <img src="/img/anuncio" class="index-img-anuncio">
        </div>
    
    <!--PRODUCTOS-->
    <div class="index-titulo-productos">
        <h3>
             <a href="">Suspenso</a>
        </h3>
    </div>
    <section class="index-caja-productos">
        <div class="index-producto">
            <div class="index-img-productos">
                <div class="index-msj-producto">
                    <p class="index-parrafo-nuevo">Nuevo!</p>
                </div>
                <img src="/img/visitante.jpg" alt=""> 
            </div>
            <div class="index-caja-descripcion">
                <a href="/productDetail">
                    <p class="index-descripciones"><b>El Visitante</b></p>
                </a>
                <div class="index-contenedor-detalles">
                    <p class="index-precios">$6.770</p>
                    <p class="index-descuentos">40% OFF</p>
                </div>
                <button type="" class="index-agregar-carrito">Agregar al carrito</button>
            </div>
        </div>
        <div class="index-producto">
            <div class="index-img-productos">
                <div class="index-msj-producto">
                    <p class="index-parrafo-nuevo">Nuevo!</p>
                </div>
                <img src="/img/lasangre-manda.jpg" alt=""> 
            </div>
            <div class="index-caja-descripcion">
                <a href="/productDetail">
                    <p class="index-descripciones"><b>La sangre manda</b></p>
                </a>
                <div class="index-contenedor-detalles">
                    <p class="index-precios">$6.770</p>
                    <p class="index-descuentos">40% OFF</p>
                </div>
                <button type="" class="index-agregar-carrito">Agregar al carrito</button>
            </div>
        </div>
        <div class="index-producto">
            <div class="index-img-productos">
                <div class="index-msj-producto">
                    <p class="index-parrafo-nuevo">Nuevo!</p>
                </div>
                <img src="/img/despues.jpg" alt=""> 
            </div>
            <div class="index-caja-descripcion">
                <a href="/productDetail">  
                    <p class="index-descripciones"><b>Después</b></p>
                </a>
                <div class="index-contenedor-detalles">
                    <p class="index-precios">$6.770</p>
                    <p class="index-descuentos">40% OFF</p>
                </div>
                <button type="" class="index-agregar-carrito">Agregar al carrito</button>
            </div>
        </div>
        <div class="index-producto">
            <div class="index-img-productos">
                <div class="index-msj-producto">
                    <p class="index-parrafo-nuevo">Nuevo!</p>
                </div>
                <img src="/img/elinstituto.jpg" alt=""> 
            </div>
            <div class="index-caja-descripcion">
                <a href="/productDetail">
                    <p class="index-descripciones"><b>El Instituto</b></p>
                </a>
                <div class="index-contenedor-detalles">
                    <p class="index-precios">$2.770</p>
                    <p class="index-descuentos">25% OFF</p>
                </div>
                <button type="" class="index-agregar-carrito">Agregar al carrito</button>
            </div>
        </div>
    </section>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>