<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/index.css">
    <title>SK Libros</title>
</head>
<body>
    <header>
        <div class="header-top-bar">
            <a href="./"><img src="/img/SK libros logo 77 fondo gris.png" alt="" class="logo"></a>
            <nav class="nav-header-top-bar">
                <ul class="lista-top-header">
                    <li class="li-header-top">
                        <a href="/register" class="link-registrate">Regístrate</a>
                    </li>
                    <li class="li-header-top">
                        <a href="/login" class=" link-inicia-sesion">Inicia Sesión</a>
                    </li>
                    <li class="li-header-top">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom-bar">
            <nav>
                <ul class="lista-bottom-header">
                    <li>
                        <a href="#">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                       <a href="#" class=" links-bottom-header-nav">
                           Categorías
                           <i class="fas fa-sort-down"></i>
                       </a> 
                    </li>
                    <li>
                        <a href="#" class="links-bottom-header-nav link-informacion">
                            Información
                            <i class="fas fa-sort-down"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="buscador">
                <input type="text" placeholder="Buscar libros" class="input-buscador">
                <button class="boton-buscador">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </header>
    <main>
    <!--CARRUSEL-->
        <div class="carrusel">
            <div class="carrusel-top">
                <h3>
                    <a href="">
                        Stephen King / Nuevos Lanzamientos
                    </a>
                </h3>
            </div>
            <div class="carrusel-bottom">
                <button type="">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <img src="/img/lasangre-manda.jpg" alt="" class="imagen-1">
                <img src="/img/despues.jpg" alt="" class="imagen-2">
                <button type="">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    <!--PRODUCTOS-->
        <div class="titulo-productos">
            <h3>
                 <a href="">
                    Terror
                 </a>
            </h3>
        </div>
        <section class="caja-productos">
            <div class="producto">
                <div class="imagenes-productos">
                    <div class="mensajito-producto">
                        <p>Nuevo!</p>
                    </div>
                    <img src="/img/visitante.jpg" alt=""> 
                </div>
                <div class="caja-descripcion">
                    <p class="descripciones">
                        <b>El Visitante</b>
                    </p>
                    <div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <button type="" class="agregar-carrito">Agregar al carrito</button>
                </div>
            </div>
            <div class="producto">
                    <div class="imagenes-productos">
                        <div class="mensajito-producto">
                            <p>Nuevo!</p>
                        </div>
                        <img src="/img/lasangre-manda.jpg" alt=""> 
                    </div>
                    <div class="caja-descripcion">
                            <p class="descripciones">
                                <b>La Sangre Manda</b>
                            </p>
                            <div>
                                <p class="precios">$6.770</p>
                                <p class="descuentos">40% OFF</p>
                            </div>
                            <button type="" class="agregar-carrito">Agregar al carrito</button>
                    </div>
            </div>
            </div>
            <div class="producto">
                <div class="imagenes-productos">
                    <div class="mensajito-producto">
                        <p>Nuevo!</p>
                    </div>
                    <img src="/img/despues.jpg" alt=""> 
                </div>
                <div class="caja-descripcion">
                    <p class="descripciones">
                        <b>Despues</b>
                    </p>
                    <div>
                        <p class="precios">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <button type="" class="agregar-carrito">Agregar al carrito</button>
                </div>
            </div>
        </section>
    <!--ANUNCIO-->
        <div class="anuncio">
            <p>ANUNCIO</p>
        </div>
    <!--PRODUCTOS-->
    <div class="titulo-productos">
        <h3>
             <a href="">
                Suspenso
             </a>
        </h3>
    </div>
    <section class="caja-productos">
        <div class="producto">
            <div class="imagenes-productos">
                <div class="mensajito-producto">
                    <p>Nuevo!</p>
                </div>
                <img src="/img/visitante.jpg" alt=""> 
            </div>
            <div class="caja-descripcion">
                <p class="descripciones">
                    <b>El Visitante</b>
                </p>
                <div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <button type="" class="agregar-carrito">Agregar al carrito</button>
            </div>
        </div>
        <div class="producto">
                <div class="imagenes-productos">
                    <div class="mensajito-producto">
                        <p>Nuevo!</p>
                    </div>
                    <img src="/img/lasangre-manda.jpg" alt=""> 
                </div>
                <div class="caja-descripcion">
                        <p class="descripciones">
                            <b>La Sangre Manda</b>
                        </p>
                        <div>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% OFF</p>
                        </div>
                        <button type="" class="agregar-carrito">Agregar al carrito</button>
                </div>
        </div>
        </div>
        <div class="producto">
            <div class="imagenes-productos">
                <div class="mensajito-producto">
                    <p>Nuevo!</p>
                </div>
                <img src="/img/despues.jpg" alt=""> 
            </div>
            <div class="caja-descripcion">
                <p class="descripciones">
                    <b>Despues</b>
                </p>
                <div>
                    <p class="precios">$6.770</p>
                    <p class="descuentos">40% OFF</p>
                </div>
                <button type="" class="agregar-carrito">Agregar al carrito</button>
            </div>
        </div>
    </section>
    </main>
    <footer>
        <div>
            <p>Matente Informado</p>
            <div>
                <input type="text" name="" value="" placeholder="Dejanos tu mail">
            </div>
        </div>
        <div>
            <div>
               <p>
                    <a href="#">Contacto</a>
                </p>
               <p>
                    <a href="#">¿Dónde está mi pedido?</a>
                </p> 
            </div>
            <div>
                <i class="fab fa-facebook-f"></i> 
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="far fa-envelope"></i>
            </div>
            <div>
               <p>
                    <a href="#">Ayuda</a>
                </p> 
               <p>
                    <a href="#">Envíos Internacionales</a>
               </p>
            </div>
            <p>Copyright © 2021 SK Libros</p>
        </div>
    </footer>
</body>
</html>