<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", {title : "Iniciar Sesión"}) %>
</head>
<body>
    <%- include("./partials/header") %>
    <main class="log-main">
        <div class="log-contenedor">
            <form>
                <h2 class="log-titulo-principal">Inicia sesión</h2>
                <div class="log-control-formulario">
                    <input type="text" name="nombreUsuario" placeholder="Correo electrónico" class="log-control">
                </div>
                <div class="log-control-formulario">
                    <input type="password" name="contrasenia" id="" placeholder="Contraseña" class="log-control">
                </div>
                
                <div class="log-checkbox">
                    <form>
                        <input type="checkbox" name="Recuerdame" id="Recuerdame">
                        <label for= "Recuerdame" class="log-label">Recordarme en este equipo</label> 
                    </form>
                </div>

                <div class="log-div-boton">
                    <button type="submit"  class="log-boton-formulario">
                        <a href="./">Ingresar</a>
                    </button>
                </div>
                
                <p class="log-p">Olvidé mi contraseña</p>

                <p class="log-text-regist">No tienes una cuenta?</p>
                
                <div class="log-div-boton"> 
                    <button type="submit"  class="log-boton-formulario">
                        <a href="/users/register">Regístrate</a>
                    </button>
                </div>
                
            </form>

        </div>
    </main>
    <%- include("./partials/footer") %>

</body>
</html>