<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head", {title : "Carrito de Compras - SK Libros"}) %>
</head>

<body>
    <%- include("./partials/header") %>
    <main>
        <h1 class="pcart-titulo">Tu cesta</h1>
        <div class="pcart-primeros-parrafos">
            <div class="pcart-inicio">
                <p class="pcart-message"><i class="fas fa-gift"></i> Tienes 3 articulos con un totoal de $$$ en tu cesta</p>
                <div>
                    <button class="pcart-boton-de-pago">Proceder al Pago</button>
                </div>
            </div>

            <p class="pcart-terminos">
                Al realizar tu pedido confirmas que has leido y aceptas nuetros Terminos y condiciones. Consulta también
                nuestra politica de privacidad y nuestra cookies.
            </p>
        </div>

        <div class="pcart-conteinerTodo">
            <section class="pcart-detalle-carrito-compras">
                <h3 class="pcart-subtítulo">Detalle de su cesta</h3>
              <article class="pcart-libro" id="vacio">
                  <!--   <div class="pcart-conteinerDesc">
                        <a href="/products/detail" class="pcart-imagenes"><img src="/img/products/despues.jpg" alt=""
                                class="pcart-foto"></a>
                        <div class="pcart-descripcion">
                            <h2 class="pcart-nombre-libro">Después</h2>
                            <div class="pcart-estrellas">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="pcart-texto">Formato papel, Español - Stephen King</p>
                            <p class="pcart-texto"> Disponible en Argentina en 5 días habiles</p>
                        </div>
                    </div>
                    <div class="pcart-parte-derecha-descripcion">
                        <p class="pcart-texto" id="cantidad">Cantidad<select name="cantidad">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </p>
                        <h3 class="pcart-precio">ARS $1999 </h3>
                        <button class="pcart-boton-eliminar">Eliminar</button>
                    </div>  -->
                </article> 

                <!-- <article class="pcart-libro">
                    <div class="pcart-conteinerDesc">
                        <a href="/products/detail" class="pcart-imagenes"><img src="/img/products/drsueño.jpg" alt=""
                                class="pcart-foto"></a>
                        <div class="pcart-descripcion">
                            <h2 class="pcart-nombre-libro">Dr. Sueño</h2>
                            <div class="pcart-estrellas">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="pcart-texto">Formato papel, Español - Stephen King</p>
                            <p class="pcart-texto"> Disponible en Argentina en 5 días habiles</p>
                        </div>
                    </div>
                    <div class="pcart-parte-derecha-descripcion">
                        <p class="pcart-texto" >Cantidad<select name="cantidad">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </p>
                        <h3 class="pcart-precio">ARS $1050 </h3>
                        <button class="pcart-boton-eliminar">Eliminar</button>
                    </div>

                </article> -->

                <!-- <article class="pcart-libro">
                    <div class="pcart-conteinerDesc">
                        <a href="/products/detail" class="pcart-imagenes"><img src="/img/products/lasangre-manda.jpg" class="pcart-foto"></a>
                        <div class="pcart-descripcion">
                            <h2 class="pcart-nombre-libro">La Sangre Manda</h2>
                            <div class="pcart-estrellas">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="pcart-texto">Formato papel, Español - Stephen King</p>
                            <p class="pcart-texto"> Disponible en Argentina en 5 días habiles</p>
                        </div>
                    </div>
                    <div class="pcart-parte-derecha-descripcion">
                        <p class="pcart-texto">Cantidad<select name="cantidad">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                        </p>
                        <h3 class="pcart-precio">ARS $2050 </h3>
                        <button class="pcart-boton-eliminar">Eliminar</button>
                    </div>
                </article> -->

            </section>

        
            <article class="pcart-detalle-de-pago">
                <div class="pcart-info">
                    <div class="pcart-envío">
                        <h5 class="pcart-gastos">Gastos de envío</h5>
                        <h5 class="pcart-h5">GRATIS</h5>
                    </div>
                    <div class="pcart-total">
                        <h5 class="pcart-h5">TOTAL</h5>
                        <h5 class="pcart-h5" id="precioTotal"> </h5>
                    </div>
                    <div class="pcart-añadirCupon">
                        <h5 class="pcart-h5">Añadir cupón:</h5>
                    <div class="pcart-aplicar">
                        <input type="text" class="pcart-agregar-cupon">
                        <button class="pcart-boton-aplicar">Aplicar</button>
                    </div>
                </div>
            </article>

            <div class="pcart-formas-de-pago">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-paypal"></i>
                <i class="fab fa-cc-amex"></i>
                <button class="pcart-boton-de-pago">Proceder al Pago</button>
            </div>
        </div>

        <button class="pcart-boton-seguir-comprando">Seguir comprando</button>

        <button id="cart-botonBorrar" type="button" onclick="">Vaciar Carrito</button>

    </main>

    <%- include("./partials/footer") %>
    <script  src="/js/carrito.js"></script>

</body>

</html>