<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/productCart.css">
        <title>Sk Libros</title>
    </head>
    <body>
        <header>
            <div class="header-top-bar">
                <img src="/img/logoecommerce.png" alt="" class="logo">
                <nav class="nav-header-top-bar">
                    <ul class="lista-top-header">
                        <li class="li-header-top">
                            <a href="#" class="link-registrate">Regístrate</a>
                        </li>
                        <li class="li-header-top">
                            <a href="#" class=" link-inicia-sesion">Inicia Sesión</a>
                        </li>
                        <li class="li-header-top">
                            <a href="#">
                                <i class="fas fa-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="header-bottom-bar">
                <nav>
                    <ul class="lista-bottom-header">
                        <li>
                            <a href="#">
                                <i class="fas fa-home"></i>
                            </a>
                        </li>
                        <li>
                        <a href="#" class=" links-bottom-header-nav">
                            Categorías
                            <i class="fas fa-sort-down"></i>
                        </a> 
                        </li>
                        <li>
                            <a href="#" class="links-bottom-header-nav link-informacion">
                                Información
                                <i class="fas fa-sort-down"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="buscador">
                    <input type="text" placeholder="Buscar libros" class="input-buscador">
                    <button class="boton-buscador">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </header>
        
        
        
        <main>
            <h1>Tu cesta</h1>
            <div class="inicio">
                <p class="message"><i class="fas fa-gift"></i> Tienes 3 articulos con un totoal de $$$ en tu cesta</p>
                <input type="text" placeholder="Proceder al pago" class="boton-de-pago">
            
            </div>
        
            <p class="terminos">
            Al realizar tu pedido confirmas que has leido y aceptas nuetros Terminos y condiciones. Consulta también nuestra politica de privacidad y nuestra cookies.
            </p>
        
        
        
            <section class="detalle-carrito-compras" >
                <h3 class="subtítulo">Detalle de su cesta</h3>
                <article class="libro1">
                        <img src="img/despues.jpg" alt="" class="libro-despues">     
                        <div class="descripcion"> 
                            <h2 class="nombre-libro">Después</h2> 
                            <div class="estrellas">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p>Formato papel, Español - Stephen King</p>
                            <p> Disponible en Argentina en 5 días habiles</p>
                            <div class="parte-derecha-descipcion">
                                <p>Cantidad <input type="texte" placeholder="1˅" class="boton-cantidad"></p>
                                <h3 class="precio2">ARS $1999,99 </h3>
                                <input type="text" placeholder="Eliminar" class="boton-eliminar">
                            </div>
                        </div>    
                </article>

                <article class="libro2">
                    <img src="img/visitante.jpg" alt="" class="libro-visitante">
                    <div class="descripcion"> 
                        <h2 class="nombre-libro">Visitante</h2> 
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Formato papel, Español - Stephen King</p>
                        <p> Disponible en Argentina en 5 días habiles</p>
                        <div class="parte-derecha-descipcion">
                            <p>Cantidad <input type="texte" placeholder="1˅" class="boton-cantidad"></p>
                            <h3 class="precio2">ARS $1050 </h3>
                            <input type="text" placeholder="Eliminar" class="boton-eliminar">
                        </div>
                    </div>    
                </article>
                
                <article class="libro3">
                    <img src="img/lasangre-manda.jpg" alt="" class="libro-lasangremanda">
                    <div class="descripcion"> 
                        <h2 class="nombre-libro">La Sangre Manda</h2>
                        <div class="estrellas">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <p>Formato papel, Español - Stephen King</p>
                        <p> Disponible en Argentina en 5 días habiles</p>
                        <div class="parte-derecha-descipcion">
                            <p>Cantidad <input type="texte" placeholder="1˅" class="boton-cantidad"></p>
                            <h3 class="precio2">ARS $2050 </h3>
                            <input type="text" placeholder="Eliminar" class="boton-eliminar">
                        </div>
                    </div>    
                </article>
            
            </section>
            
            <section>
                <article class="detalle-de-pago">
                    <div class="info">
                        <div class="envío">
                            <h5>Gastos de envío</h5>
                            <h5>GRATIS</h5>
                        </div>
                        <div class="total">
                            <h5>TOTAL</h5>
                            <h5> ARS $ 6146.99</h5>
                        </div>
                        <div>
                            <h5>Añadir cupón:</h5>
                            <input type="texto" class="agregar-cupón">
                            <input type="text" placeholder="Aplicar" class="boton-aplicar">
                        </div>
                    
                    </div>
                    
                </article>
            </section>

            <div class="formas-de-pago">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-paypal"></i>
                <i class="fab fa-cc-amex"></i>
                <input type="text" placeholder="Proceder al pago" class="pago">
            </div>
            
            
            <div class="boton-comprar">
                <input type="text" placeholder="Seguir Comprando" class="seguir-comprando">
            </div>
    
        </main>

        <footer>
            <h4>FOOTER</h4>
        </footer>

    </body>

</html>