<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productDetail.css">
    <title>productDetail</title>
</head>

<body>
    <header>
        <div class="header-top-bar">
            <a href="./"><img src="/img/SK libros logo 77 fondo gris.png" alt="" class="logo"></a>
            <nav class="nav-header-top-bar">
                <ul class="lista-top-header">
                    <li class="li-header-top">
                        <a href="/register" class="link-registrate">Regístrate</a>
                    </li>
                    <li class="li-header-top">
                        <a href="/login" class=" link-inicia-sesion">Inicia Sesión</a>
                    </li>
                    <li class="li-header-top">
                        <a href="/productCart">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom-bar">
            <nav>
                <ul class="lista-bottom-header">
                    <li>
                        <a href="#">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class=" links-bottom-header-nav">
                            Categorías
                            <i class="fas fa-sort-down"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="links-bottom-header-nav link-informacion">
                            Información
                            <i class="fas fa-sort-down"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="buscador">
                <input type="text" placeholder="Buscar libros" class="input-buscador">
                <button class="boton-buscador">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>

    </header>
    <main>
        <article class="artEnvio">
            <div class="enviogratis">
                <i class="fas fa-rocket"></i>
                <h3>ENVÍO GRATIS</h3>
            </div>
        </article>
        <article>
            <div class="categorias">
                <div>
                    <h4>Categorías:</h4>
                </div>
                <p>Terror /</p>
                <p>Ficción /</p>
                <p>Suspenso</p>
            </div>
        </article>
        <article class="noSeVeEnTablet">

            <div class="detalles">
                <h2 class="tituloLibro">Después</h2>
                <div class="costadoDerecho"><img class="estrellas" src="/img/cuatro-estrellas.png">
                    <p>Formato papel, Español / Stephen King</p>
                </div>
                <div class="fotolibro"><img src="/img/despues.jpg"></div>
                <div class="costadoDerecho">
                    <div class="precio">
                        <h2>ARS$1.999,99</h2>
                    </div>
                    <div class="boton">
                        <p>Añadir al carrito</p>
                    </div>
                </div>
                <div class="compartir">
                    <h4>Compartir</h4>
                    <div><i class="far fa-envelope"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-pinterest-p"></i></div>
                </div>
                <div class="articulodisponible">
                    <div class="envio">
                        <div class="cohete"><i class="fas fa-rocket"></i></div>
                        <h4 class="texto">Envío gratis</h4>
                    </div>
                    <div class="disponible">
                        <i class="far fa-clock"></i>
                        <p>Disponible. Entrega estimada a Argentina entre 17-32 días hábiles.</p>
                    </div>
                </div>
            </div>
        </article>
        <article class="artTitulo">
            <div class="tituloTablet">
                <h2 class="miniborde">Después</h2>
            </div>
        </article>
        <article class="seVeEnTablet">

            <div class="itemImg">
                <div><img src="/img/despues.jpg"></div>
                <div class="compartir">
                    <h4>Compartir</h4>
                    <div><i class="far fa-envelope"></i></div>
                    <div><i class="fab fa-facebook-f"></i></div>
                    <div><i class="fab fa-twitter"></i></div>
                    <div><i class="fab fa-pinterest-p"></i></div>
                </div>
            </div>

            <div class="itemTools">
                <div class="estrellasydatos"><img class="estrellas" src="/img/cuatro-estrellas.png">
                    <p>Formato papel, Español / Stephen King</p>
                </div>
                <div class="precioTablet">
                    <h2>ARS$1.999,99</h2>
                </div>
                <div class="contenedorEnvio">
                    <div class="envio">
                        <div class="cohete"><i class="fas fa-rocket"></i></div>
                        <h4 class="texto">Envío gratis</h4>
                    </div>
                    <div class="disponible">
                        <i class="far fa-clock"></i>
                        <p>Disponible. Entrega estimada a Argentina entre 17-32 días hábiles.</p>
                    </div>
                </div>
                <div class="boton">
                    <h5>Añadir al carrito</h5>
                </div>
            </div>
        </article>

        <article class="seveEnCompu">
            <div class="contenedorCompu">
                <div class="itemImg"><img src="/img/despues.jpg"></div>
                <div class="item-info">
                    <div class="tituloCompu">
                        <h2 class="miniborde">Después</h2>
                    </div>
                    <div class="estrellasydatos"><img class="estrellas" src="/img/cuatro-estrellas.png">
                        <p>Formato papel, Español / Stephen King</p>
                    </div>
                    <div class="compartir">
                        <h4>Compartir</h4>
                        <div><i class="far fa-envelope"></i></div>
                        <div><i class="fab fa-facebook-f"></i></div>
                        <div><i class="fab fa-twitter"></i></div>
                        <div><i class="fab fa-pinterest-p"></i></div>
                    </div>
                    <div class="sinopsis">
                        <p> En ocasiones, para crecer debes vencer a tus demonios.

                            Jamie Conklin, el único hijo de una madre soltera, solo quiere tener una infancia normal.
                            Sin
                            embargo, desde que nació tiene una habilidad sobrenatural que su madre le insta a mantener
                            en
                            secreto: puede hacer hablar a los muertos. Cuando una detective del Departamento de Policía
                            de
                            Nueva York le arrastra a la persecución de un asesino que amenaza con seguir atacando
                            incluso desde su
                            tumba, Jamie no tardará en descubrir que el precio a pagar por su poder tal vez sea
                            demasiado
                            alto...
                        </p>
                        <p>«Es mitad historia de detectives, mitad thriller... Emocionante y auténtica.»

                            The New York Times</p>
                    </div>
                </div>
            </div>
            <div class="checkoutTools">
                <div class="precioTablet">
                    <h2>ARS$1.999,99</h2>
                </div>
                <div class="contenedorEnvio">
                    <div class="envio">
                        <div class="cohete"><i class="fas fa-rocket"></i></div>
                        <h4 class="texto">Envío gratis</h4>
                    </div>
                    <div class="disponible">
                        <i class="far fa-clock"></i>
                        <p>Disponible. Entrega estimada a Argentina entre 17-32 días hábiles.</p>
                    </div>
                </div>
                <div class="boton">
                    <h5>Añadir al carrito</h5>
                </div>
            </div>
        </article>

        <article>
            <div class="descripcion">
                <h4 class="miniborde">Descripción</h4>
                <p> Jamie Conklin, el único hijo de una madre soltera, solo quiere tener una infancia normal. Sin
                    embargo, desde que nació tiene una habilidad sobrenatural que su madre le insta a mantener en
                    secreto: puede hacer hablar a los muertos. Cuando una detective del Departamento de Policía de Nueva
                    York le arrastra a la persecución de un asesino que amenaza con seguir atacando incluso desde su
                    tumba, Jamie no tardará en descubrir que el precio a pagar por su poder tal vez sea demasiado alto.
                </p>
                <p>«Es mitad historia de detectives, mitad thriller... Emocionante y auténtica.»
                    The New York Times</p>
            </div>
        </article>
        <article>
            <div class="descubre">
                <h4 class="miniborde">¡10% de descuento en libros de Suspenso!</h4>
                <div>
                    <p>Link</p>
                </div>
            </div>
        </article>
        <article>
            <div class="detalledelproducto">
                <div class="miniborde">
                    <h4>Detalles del producto</h4>
                </div>
                <div class="dimensiones">
                <div class="izquierda">
                    <div class="alinear">
                        <h5>Formato:</h5>
                        <p>Book / 245 páginas</p>
                    </div>
                    <div class="alinear">
                        <h5>Dimensiones:</h5>
                        <p>160 x 240mm / 452g</p>
                    </div>
                    <div class="alinear">
                        <h5>Fecha de publicación:</h5>
                        <p>01 Jun 2021</p>
                    </div>
                    <div class="alinear">
                        <h5>Dimensiones:</h5>
                        <p>160 x 240mm / 452g</p>
                    </div>
                    <div class="alinear">
                        <h5>Editorial:</h5>
                        <p>Plaza & Janés</p>
                    </div>
                </div>
                <div class="derecha">
                    <div class="alinear">
                        <h5>Ciudad/País de publicación:</h5>
                        <p>España</p>
                    </div>
                    <div class="alinear">
                        <h5>Idioma:</h5>
                        <p>Español</p>
                    </div>
                    <div class="alinear">
                        <h5>ISBN13:</h5>
                        <p>9788401027123</p>
                    </div>
                    <div class="alinear">
                        <h5>Ranking en los libros más vendidos:</h5>
                        <p>164.333</p>
                    </div>
                </div>
            </div>
        </article>

        <article>
            <div class="productobuscado">
                <div class="miniborde">
                    <h4>Los clientes que compraron este producto también compraron</h4>
                </div>
                <div class="compraron">
                    <div class="columna">
                        <img class="sangremanda" src="/img/lasangre-manda.jpg">
                        <h4>La sangre manda</h4>
                        <p>Stephen King</p>
                        <img class="estrellas" src="/img/cuatro-estrellas.png">
                        <h2 class="precios">$2.000</h2>
                        <p class="botones">Añadir al carrito</p>
                    </div>
                    <div class="columna">
                        <img class="visitante" src="/img/visitante.jpg">
                        <h5>El visitante</h5>
                        <p>Stephen King</p>
                        <img class="estrellas" src="/img/cuatro-estrellas.png">
                        <h2 class="precios">$2.499,99</h2>
                        <p class="botones">Añadir al carrito</p>
                    </div>
                    <div class="columnaTablet">
                        <img class="instituto" src="/img/elinstituto.jpg">
                        <h5>El Instituto</h5>
                        <p>Stephen King</p>
                        <img class="estrellas" src="/img/cuatro-estrellas.png">
                        <h2 class="precios">$2.000</h2>
                        <p class="botones">Añadir al carrito</p>
                    </div>
                    <div class="columnaCompu">
                        <img class="drsueño" src="/img/drsueño.jpg">
                        <h5>Doctor Sueño</h5>
                        <p>Stephen King</p>
                        <img class="estrellas" src="/img/cuatro-estrellas.png">
                        <h2 class="precios">$1.999,99</h2>
                        <p class="botones">Añadir al carrito</p>
                    </div>
                    <div class="columnaMasGrande">
                        <img class="billy" src="/img/billysummers.jpeg">
                        <h5>Billy Summers</h5>
                        <p>Stephen King</p>
                        <img class="estrellas" src="/img/cuatro-estrellas.png">
                        <h2 class="precios">$2.500</h2>
                        <p class="botones">Añadir al carrito</p>
                    </div>
                    <div class="columnaMasGrande">
                        <img class="it" src="/img/it.png">
                        <h5>It</h5>
                        <p>Stephen King</p>
                        <img class="estrellas" src="/img/cuatro-estrellas.png">
                        <h2 class="precios">$1.500,50</h2>
                        <p class="botones">Añadir al carrito</p>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <div class="mantenteInformado">
            <p class="texto">Matente Informado</p>
            <div>
                <input class="email" type="text" name="" value="" placeholder="Dejanos tu mail">
            </div>
        </div>
        <div class="contenedorFooter">
            <div class="contactoYpedido">
                <p>
                    <a href="#">Contacto</a>
                </p>
                <p>
                    <a href="#">¿Dónde está mi pedido?</a>
                </p>
            </div>
            <div class="iconosFooter">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="far fa-envelope"></i>
            </div>
            <div class="ayudaYenvios">
                <p>
                    <a href="#">Ayuda</a>
                </p>
                <p>
                    <a href="#">Envíos Internacionales</a>
                </p>
            </div>
        </div>
        <div class="copyRight">
            <p>Copyright © 2021 SK Libros</p>
        </div>
    </footer>




</body>

</html>