<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", {title : "Iniciar Sesión"}) %>
</head>
<body>
    <%- include("./partials/header") %>
    <main class="log-main">
        <div class="log-contenedor">
            <form action="/users/...." method='POST' class="reg-form">
                
                <h1>Hola!!!!</h1>
            </form>

        </div>
    </main>
    <%- include("./partials/footer") %>

</body>
</html>