<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-top-bar">
            <img src="/img/logoecommerce.png" alt="" class="logo">
            <nav class="nav-header-top-bar">
                <ul class="lista-top-header">
                    <li class="li-header-top">
                        <a href="#" class="link-registrate">Regístrate</a>
                    </li>
                    <li class="li-header-top">
                        <a href="#" class=" link-inicia-sesion">Inicia Sesión</a>
                    </li>
                    <li class="li-header-top">
                        <a href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-bottom-bar">
            <nav>
                <ul class="lista-bottom-header">
                    <li>
                        <a href="#">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                       <a href="#" class=" links-bottom-header-nav">
                           Categorías
                           <i class="fas fa-sort-down"></i>
                       </a> 
                    </li>
                    <li>
                        <a href="#" class="links-bottom-header-nav link-informacion">
                            Información
                            <i class="fas fa-sort-down"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="buscador">
                <input type="text" placeholder="Buscar libros" class="input-buscador">
                <button class="boton-buscador">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </header>
    <main>
        <div class="registro">
            <div class="registrate-nuestra-web">
                <h2>Regístrate</h2>
                <input type="text" placeholder="Nombre" class="inputs-registro">
                <input type="text" placeholder="Apellido" class="inputs-registro">
                <input type="text" placeholder="E-mail" class="inputs-registro">
                <input type="text" placeholder="Confirmar e-mail" class="inputs-registro">
                <input type="text" placeholder="Contraseña" class="inputs-registro">
                <input type="text" placeholder="Confirmar contraseña" class="inputs-registro">
                <button class="boton-registrarme">Registrarme</button>
            </div>
            <div class="registrate-con">
                <h2>Regístrate con:</h2>
                <button class="boton-registrarme-con"><i class="fab fa-google logo-boton"></i> Google</button>
                <button class="boton-registrarme-con"><i class="fab fa-facebook-f logo-boton"></i> Facebook</button>
                <button class="boton-registrarme-con"><i class="fab fa-twitter logo-boton"></i> Twitter</button>
                <button class="boton-registrarme-con"><i class="fab fa-linkedin-in logo-boton"></i> LinkedIn</button>
            </div>
        </div>
    </main>
    <footer></footer>
</body>
</html>