<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head", {title : "Registrarse"}) %>
</head>
<body>
    <%- include("./partials/header") %>
    <main>
        <div class="reg-main-div">
            <div class="reg-div-nuestra-web">
                <h2>Regístrate</h2>
                <form action="" class="reg-form">
                    <input type="text" placeholder="Nombre" class="reg-inputs" name="nombre" required>
                    <input type="text" placeholder="Apellido" class="reg-inputs" name="apellido" required>
                    <input type="text" placeholder="E-mail" class="reg-inputs" name="e-mail" required>
                    <input type="text" placeholder="Confirmar e-mail" class="reg-inputs" name="confirmacionEmail" required>
                    <input type="text" placeholder="Contraseña" class="reg-inputs" name="contrasenia" required>
                    <input type="text" placeholder="Confirmar contraseña" class="reg-inputs" name="confirmacionContrasenia" required>
                    <button class="reg-botones-nuestra-web">
                        <a href="/">Registrarme</a>
                    </button>
                </form>
            </div>
            <div class="reg-con">
                <h2>Regístrate con:</h2>
                <button class="reg-con-boton"><img src="/img/google-icono.png" alt="" class="reg-google"> Google</button>
                <button class="reg-con-boton reg-fa-facebook-f"><i class="fab fa-facebook-f"></i> Facebook</button>
                <button class="reg-con-boton reg-twitter"><i class="fab fa-twitter"></i> Twitter</button>
                <button class="reg-con-boton reg-linkedIn"><i class="fab fa-linkedin-in"></i> LinkedIn</button>
            </div>
        </div>
        <div class="reg-tienes-cuenta">
            <p class="reg-text">¿Ya tienes una cuenta?</p>
                <button type="submit"  class="reg-boton-ingresar">
                    <a href="/users/login">Ingresar</a>
                </button>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>