*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
/* MAIN */
.editp-ul{
    list-style: none;
    text-align: left;
}
.editp-label{
    margin-top: 13px;
}
.editp-input{
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    border: none;
    margin: 10px 0px;
}
.editp-cambiar-imagen{
    text-align: center;
}
.editp-formCreate{
    border: 1px solid #262120;
    background-color: #bf8a26;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    padding-bottom: 10px;
}
.editp-tituloCreate{
    font-size: 20px;
    font-family: 'GEMUNU LIBRE';
    padding: 20px;
    border-bottom: 1px solid;
}
.editp-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editp-botónCreate{
    background-color: #8C1B1B;
    color: white;
    font-size: 18px;
    padding: 8px;
    margin: 10px;
    width: 25%;
    border-radius: 5px;
}

/*TABLET*/
@media (min-width:481px){
    /*MAIN*/
    .editp-main-div{
        margin-right: 110px;
    }
    .editp-formCreate{
        margin: 20px 70px;
        padding-bottom: 10px;
    }
    .editp-label{
        margin-top: 15px;
    }
    .editp-input{
        position: relative;
        left: 120px;
        bottom: 25px;
        width: 240px;
        margin: 0px;
    }
}

/*LAPTOP*/
@media (min-width:769px){

    /*MAIN*/
    .editp-formCreate{
        background-color: #bf8a26;
        text-align: center;
        border-radius: 5px;
        margin: 30px 150px;
        padding-bottom: 10px;
        line-height: 3;
    }
    .editp-tituloCreate{
        font-size: 30px;
        font-family: 'GEMUNU LIBRE';
        margin: 11px;
    }
    .editp-input{
        left: 180px;
        bottom: 50px;
    }
    .editp-label{
        font-size: 20px;
    }
    .editp-main-div{
        margin-right: 170px;
    }
}
@media (min-width:1025px){
    .editp-input{
        left: 240px;
        width: 300px;
    }
    .editp-main-div{
        margin-right: 190px;
    }
}