*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


/* FOOTER */
.mantenteInformado{
    display: flex;
    background-color: #BF8A26;
    flex-direction: row;
    padding: 8px;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.dejarMail{
    border-radius: 4px;
    padding: 10px;
    height: 5px;
}
.texto{
    flex-grow: 0.50;
    font-family: 'Gemunu Libre';
    font-size: 17px;
}
.email{
    border-radius: 6px;
}
 footer a {
    color: white; 
    font-family: "gemunu libre";
    text-decoration: none;
}
.contenedorFooter{
    display: flex;
    padding: 10px;
    background-color: #262120;
    justify-content: space-around;
}
.contactoYpedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconosFooter{
    display: none;
    flex-direction: row;
}
.ayudaYenvios{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.copyRight{
    background-color: #262120;
    color: white;
    text-align: center;
    padding: 30px;
}

@media(min-width:320px){
/*FOOTER*/
footer button{
    background-color: #8c1b1b;
    color: white;
    border-radius: 4px;
    padding: 5px 5px;
    padding-left: 3px;
    border: none;
    margin-left: -5px;
}
.divBoton{
    display: contents;
}
.contFooter{
    width: 50%;
}
.texto{
    width: 30%;
}
.dejarMail{
    border: none;
    border-radius: 4px;
    padding: 10px;
    height: 5px;
    width: 60%;
}
}

/*TABLET*/
@media (min-width:481px){
    /*FOOTER*/
    .iconosFooter{
        display: flex;  
        flex-direction: row;
    }
    .iconosFooter i{
        padding: 5px;
        font-size: 20px;
        color: white;
        border: 1px solid #8c1b1b;
        background-color: #8c1b1b;
        border-radius: 20%;
        margin: 3px;
    }
    .contFooter{
        display: flex;
    }
    footer button{
        padding: 4px;
        border: none;
    
    }
    .dejarMail{
        border-radius: 4px;
        border: none;
    }
    .mantenteInformado{
        align-items: center;
    }
}