*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/*HEADER*/
.header-top-bar{
    background-color:#D9D9D9;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 110px;
    height: 110px;
}
.nav-header-top-bar{
    max-width: 300px;
    line-height: 4%;
}
.lista-top-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li-header-top{
    font-size: 15px;
    
}
.link-registrate{
    text-decoration: none;
    color:#262120;
}
.link-inicia-sesion{
    text-decoration: none;
    color:#262120;
    padding: 15px;
}
.fa-shopping-cart {
    color:#262120;
    font-size: 22px;
    padding-right: 32px
}
.header-bottom-bar{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
}
.fa, .fas{
    font-weight: 900;
    margin-left: 5px;
}
.lista-bottom-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.links-bottom-header-nav{
    text-decoration: none;
    color:#D9D9D9;
    display: none;
}
.fa-bars{
    color:#D9D9D9;
    font-size: 25px;
    margin-left: 38%;
    padding:5px;
}
.buscador{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-self: flex-start;
}
.input-buscador{
    border:none;
    border-radius: 5px;
    padding-left:5px;
}
.boton-buscador{
    border: none;
    border-radius: 5px;
    margin-left: -15px;
    background-color: #fff;
    padding: 0 5px;
}

/*MAIN*/
/*CARRUSEL*/
.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}
.slider li {
    width:100%;
    list-style: none;
}
.slider img {
    width: 100%;
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/*PRODUCTOS*/
.titulo-productos{
    background-color:#262120;
    padding:8px;
    margin:30px 0 20px 0;
}
.titulo-productos h3 a{
    text-decoration:none;
    color:#D9D9D9;
    padding-left:20px;
    font-family:'Gemunu Libre', sans-serif;
}
.producto{
    margin: 10px 30px;
    border-radius: 5px;
}
.mensajito-producto{
    background-color: #8C1B1B;
    color:white;
    position: relative;
    width: 25%;
    height: 20px;
    padding: 10px;
    text-align: center;
    visibility: hidden;
}
.imagenes-productos img{
    width:80%;
    background-color:white;
    margin:5px 30px;
}
.caja-descripcion{
    text-align:center;
}
.precios{
    font-size:18px;
}
.descuentos{
    font-size: 14px;
    color:green;
    margin-left: 2%;
}
.decripciones{
    font-size:16px;
}
main a{
    color: black;
     text-decoration: none;
}
main a:hover{
    color:#8C1B1B;
     text-decoration:none;
}
.agregar-carrito{
    color:white;
    background-color:#8C1B1B;
    padding:10px;
    margin:10px;
    border-radius:5px;
}
.anuncio{
    background-color:white;
    width:80%;
    height:100%;
}
.imgAnuncio{
    width: 120%;
    margin: 30px 10px;
}

/* FOOTER */
.mantenteInformado{
    display: flex;
    background-color: #BF8A26;
    flex-direction: row;
    padding: 4px;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}
.dejarMail{
    border-radius: 4px;
    padding: 10px;
    height: 5px;
}
.texto{
    flex-grow: 0.50;
    font-family: 'Gemunu Libre';
    font-size: 17px;
}
.email{
    border-radius: 6px;
}
 footer a {
    color: white; 
    font-family: "gemunu libre";
    text-decoration: none;
}
.contenedorFooter{
    display: flex;
    padding: 10px;
    background-color: #262120;
    justify-content: space-around;
}
.contactoYpedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconosFooter{
    display: none;
    flex-direction: row;
}
.ayudaYenvios{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.copyRight{
    background-color: #262120;
    color: white;
    text-align: center;
    padding: 30px;
}


/*MEDIA QUERIES*/
/*MOVIL*/
@media(min-width:320px){
    /*HEADER*/
    .logo{
        margin-left: 10%;
    }
    .esconderdelcel{
        display: none;
    }
    /*MAIN*/
    /*PRODUCTOS*/
    .producto{
        box-shadow: 0px 0px 10px rgb(100 100 100);
    }
    .mensajito-producto{
        box-shadow: 0px 0px 10px rgb(100 100 100);
        visibility: visible;
    }
    .descripciones{
        display: none;
    }
    .agregar-carrito{
        display: none;
    }
    .contenedorDetalles{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .precios{
        font-size: 30px;
    }
    .descuentos{
        font-size: 18px;
        color: green;
        margin-left: 2%;
    }
    /*FOOTER*/
    footer button{
        background-color: #8c1b1b;
        color: white;
        border-radius: 4px;
        padding: 5px 5px;
        border: none;
    }
    .divBoton{
        display: contents;
    }
    .contFooter{
        width: 50%;
    }
    .texto{
        width: 30%;
    }
    .dejarMail{
        border: none;
        border-radius: 4px;
        padding: 10px;
        height: 5px;
        width: 60%;
    }
}
/*TABLET*/
@media (min-width:481px){

    /*HEADER*/
    .logo{
        height: 140px;
        width: 140px;
        margin-left: 40%;
    }
    .links-bottom-header-nav{
        display: flex;
        margin-left: 60%;
    }
    .lista-bottom-header{
        padding: 0 15%;
    }
    .link-informacion{
        margin-left: 80%;
    }
    .fa-home{
        margin-left: -70%;
    }
    .fa-bars{
        display: none;
    }
    .esconderdelcel{
        display: flex;
    }
    .input-buscador{
        height: 25px;
        font-size: 15px;
    }
    .boton-buscador{
        height: 25px;
    }
    /*MAIN*/
    /*CARRUSEL*/
    .carrusel-bottom{
        justify-content:center;
    }
    .carrusel-bottom img{
        width:25%;
    }
    .imagen-2{
        display:flex;
    }

    /*PRODUCTOS*/
    .caja-productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .producto{
        width: 40%;
        margin: 10px 30px;
        border-radius: 5px;
    }
    .imagenes-productos img{
        margin: 10%;
    }
    .mensajito-producto{
        background-color: #8C1B1B;
        color: white;
        position: absolute;
        width: 10%;
        height: 20px;
        padding: 10px;
        text-align: center;
    }

    /*FOOTER*/
    .iconosFooter{
        display: flex;  
        flex-direction: row;
    }
    .iconosFooter i{
        padding: 5px;
        font-size: 20px;
        color: white;
        border: 1px solid #8c1b1b;
        background-color: #8c1b1b;
        border-radius: 20%;
        margin: 3px;
    }
    .contFooter{
        display: flex;
    }
    footer button{
        background-color: #8c1b1b;
        color: white;
        padding: 4px;
        border: none;
    
    }
    .dejarMail{
        border-radius: 4px;
        border: none;
    }
    .mantenteInformado{
        align-items: center;
    }
}

/*LAPTOP*/
@media (min-width:769px){

    /*HEADER*/
    .logo{
        height: 220px;
        width: 220px;
        margin-left:2%;
    }
    header{
        font-size: 20px;
    }
    .header-top-bar{
        padding:30px 6%;
    }
    .header-bottom-bar{
        padding: 25px 8%;
    }
    .li-header-top{
        font-size: 20px;
    }
    .fa-bars{
        display: none;
    }
    .input-buscador{
        width: 240px;
        height: 30px;
        padding-left: 10px;
        font-size: 19px;
    }
    .boton-buscador{
        height: 30px;
        font-size: 19px;
    }
    /*MAIN*/
    /*PRODUCTOS*/
    .titulo-productos h3 a{
        font-size: 24px;
        padding-left: 6%;
    }
    .producto{
        width: 18%;
        height: 18%;
    }
    .mensajito-producto{
        visibility: hidden;

    }
    .producto:hover .mensajito-producto{
        visibility: visible;
        box-shadow: 0px 0px 10px rgb(100 100 100);
        transition: all 400ms;
        padding: 5px;
     }
    .producto{
        box-shadow: 0px 0px 0px;
        width: 18%;
        height: 18%;
     }
    .producto:hover{
        box-shadow: 0px 0px 10px rgb(100 100 100);
        transition: all 400ms;
    }
    .precios{
        font-size: 20px;
    }
    .descripciones{
        display: flex;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
    }
    /*FOOTER */
    footer button{
        border: none;
    }
    .dejarMail{
        border: none;
    }
}