*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header-top-bar{
    background-color:#262120;
    opacity: 0.9;
}
.logo{
    width: 20%;
    height: 20%;
}
/*body{
    background-color:greenyellow;
}*/
#BF8A26
#262120
#8C1B1B
#D9D9D9
#0D0D0D