*{
    margin: 0px;
    padding: 0px;
}

/*HEADER*/
.header-top-bar{
    background-color:#D9D9D9;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 50px;
    height: 70px;
    margin-right: 10px;
}
.nav-header-top-bar{
    max-width: 300px;
    line-height: 4%;
}
.lista-top-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li-header-top{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}
.link-registrate{
    text-decoration: none;
    color:#262120;
}
.link-inicia-sesion{
    text-decoration: none;
    color:#262120;
    padding: 15px;
}
.fa-shopping-cart {
    color:#262120;
    font-size: 18px;
}
.header-bottom-bar{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.lista-bottom-header{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.links-bottom-header-nav{
    text-decoration: none;
    color:#D9D9D9;
    display: none;
}
.fa-home{
    color:#D9D9D9;
    font-size: 25px;
    margin-left: 38%;
}
.buscador{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-self: flex-start;
}
.input-buscador{
    border:none;
    border-radius: 5px;
    padding-left:5px;
}
.boton-buscador{
    border: none;
    margin-left: -15px;
    background-color: #fff;
}
/*main*/



main{
    background-color:white;
}

.contenedor{
    background-color:#262120;
    width: 80%;
    margin: auto;
    border-radius: 8px;
    margin-top: 40px;
    padding: 20px;
}

.titulo-principal{
    text-align: center;
    padding: 15px;
    color:white;
    font-family: Roboto;
}

input.control{
    font-family: Gemunu Libre;
    padding-left: 10px;
    width: 55%;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
}

.control-formulario{
text-align: center;
padding: 15px;
}
.div-boton{
    text-align: center;
    
}
.boton-formulario{
    background-color:#8C1B1B;
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}
.boton-registro{
    background-color:#8C1B1B;
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}
p{
    text-align: center;
    color:white
}

.boton-registrarme {
    text-align: center;

}
label {
    color:white;
}
.checkbox{
    text-align: center;
}
.div-boton a{
    text-decoration: none;
    color:white;    
}


/*MEDIA QUERIES*/
/*TABLET*/
@media (min-width:450px){

    /*HEADER*/
    .links-bottom-header-nav{
        display: flex;
        margin-left: 60%;
    }
    .lista-bottom-header{
        padding: 0 15%;
    }
    .link-informacion{
        margin-left: 80%;
    }
    .fa-home{
        margin-left: -70%;
    }
}

/*LAPTOP*/
@media (min-width:769px){

    /*HEADER*/
    header{
        font-size: 20px;
    }
    .header-top-bar{
        padding:30px 10%;
    }
    .header-bottom-bar{
        padding: 25px 10%;
    }
    .li-header-top{
        font-size: 20px;
    }
}