*{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}

/*main*/

body{
    background-color: white;
}
main{
    opacity: 0.9;
}
h1{
    font-size: 24px;
    font-family: gemunu libre;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7%;
}
h3{
    font-family: gemunu libre;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pcart-precio2{
    padding: 0;
}
.pcart-boton-de-pago{
    text-align: center;
    width: 120px;
    background-color:#8C1B1B;
    color: white;
    border-radius:5px;
    padding: 5px;
}
.pcart-subtítulo{
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    font-family:gemunu libre;
}
.pcart-message{
    width: 100%;
}
.pcart-primeros-parrafos{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 5px;
}
.pcart-conteinerTodo{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 5px;
}
.pcart-terminos{
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    text-align: center;
}
.pcart-inicio{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
}
.pcart-descripcion{
    display: block;
    margin-left: 15%;
}
.pcart-imagenes{
    display: contents;
}
.pcart-nombre-libro{
    font-size: 20px;
    font-family:gemunu libre;
}
.pcart-estrellas{
    color:#eac926;
    font-size: 8px;
    padding-top: 5px;
}
p{
    font-size: 12px;
    font-family: 'Roboto';
    
}
.pcart-boton-cantidad{
    width: 20px;
    border-radius: 3px;
}
button{
    background-color: #8C1B1B;
    border-radius: 5px;
}
.pcart-conteinerDesc{
    display: flex;
}
.pcart-libro1 {
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}
.pcart-libro2{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}
.pcart-libro3{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}
.pcart-libro-despues{
    width: 30%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    
}
.pcart-libro-visitante{
    width: 30%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
.pcart-libro-lasangremanda{
    width: 30%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
.pcart-parte-derecha-descripcion{
    text-align: center;
    display: flex;
    line-height: 2;
    justify-content: center;
    flex-direction: column;
}
.pcart-boton-eliminar{
    width: 80px;
    padding: 5px;
    text-align: center;
    color: white;
}
.pcart-formas-de-pago{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}
.pcart-detalle-de-pago{
    border: solid #8C1B1B 1px;
    background-color: white;
    display: flex;
    padding: 15px;
    padding-bottom:10px;
}
.pcart-info{
    margin-left: auto;
}
h6{
    font-size: 12px;
    text-align: center;
}
.pcart-boton-seguir-comprando{
    display: block;
    margin:auto;
    padding: 5px;
    background-color: #8C1B1B;
    color: white;
    width: 150px;
    border-radius: 5px;
}
.pcart-boton-aplicar{
    background-color: #8C1B1B;
    border-radius: 5px;
    color:white;
    padding: 5px;
}
.pcart-agregar-cupon{
    width: 65%;
}
.pcart-total{
    display: flex;
    justify-content: space-between;
}
.pcart-envío{
    display: flex;
    justify-content: space-between;   
}
.fab{
    font-size: 20px;
    color:#262120;
}
.pcart-añadirCupon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pcart-texto{
    width: 40%;
}
.pcart-aplicar{
    display: flex;
    justify-content: space-evenly;
}
.pcart-pago{
    background-color: #8C1B1B;
    width: 110px;
    border-radius: 5px;
}
h4{
    font-size: 40px;
    text-align: center;
}
/*TERMINA EL MAIN*/

/*TABLET*/
@media (min-width:481px){

    
    /*MAIN*/
    .pcart-primeros-parrafos{
        margin: 30px;
    }
    .pcart-conteinerTodo{
        margin: 30px;
    }
    .pcart-inicio{
        border: solid #8C1B1B 6px;
    }
    .pcart-terminos{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .pcart-subtítulo{
        border: solid #8C1B1B 6px;
    }
    .pcart-estrellas{
        font-size: 10px;
        padding-top: 15px;
    }
    .pcart-boton-eliminar{
        width: 120px;
        margin-top: 20px;
    }
    .pcart-libro-despues{
        padding: 10px;
        width: 20%;
        
    }
    .pcart-libro-lasangremanda{
        padding: 10px;
        width: 20%;
    }
    .pcart-libro-visitante{
        padding: 10px;
        width: 20%;
    }
    .pcart-libro1{
        border: solid #8C1B1B 6px;
        border-top: none;
    }
    .pcart-libro2{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .pcart-libro3{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .pcart-detalle-de-pago{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    
    .pcart-gastos{
        padding-right: 200px;
    }
    .pcart-formas-de-pago{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .pcart-parte-derecha-descripcion{
        display: flex;
        align-items: center;
    }
    .pcart-precio2{
        font-size: 17px;
    }


    
}



@media (min-width:769px){

 /*MAIN*/
    /*PRODUCTOS*/
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }
    .pcart-libro-lasangremanda{
        width: 16%;
    }
    .pcart-libro-visitante{
        width: 16%;
    }
    
    .pcart-nombre-libro{
        font-size: 35px;
    }
    .pcart-precio2{
        font-size: 25px;
        margin-top: 20px;
    }

    .pcart-estrellas{
        color:#eac926;
        font-size: 20px;
        padding-top: 15px;
    }
    
    .pcart-seguir-comprando{
        width: 160px;
        height: 30px;
        text-align: center;
    }
    .pcart-pago{
        width: 130px;
        height: 30px;
        text-align: center;
    }
    .pcart-boton-aplicar{
        text-align: center;
    }
   
}

@media (min-width:1600px){
    .pcart-libro-visitante{
        width: 10%;
    }
}