*{
    font-family: Roboto;
    margin: 0px;
    padding: 0px;
}
/*HEDER*/
.header-top-bar{
    background-color:#D9D9D9;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 140px;
    height: 140px;
}

.nav-header-top-bar{
    max-width: 300px;
    line-height: 4%;
}
.lista-top-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li-header-top{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}
.link-registrate{
    text-decoration: none;
    color:#262120;
}
.link-inicia-sesion{
    text-decoration: none;
    color:#262120;
    padding: 15px;
}
.fa-shopping-cart {
    color:#262120;
    font-size: 18px;
}


.header-bottom-bar{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.lista-bottom-header{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.links-bottom-header-nav{
    text-decoration: none;
    color:#D9D9D9;
    display: none;
}
.fa-home{
    color:#D9D9D9;
    font-size: 25px;
    margin-left: 38%;
}
.buscador{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-self: flex-start;
}
.input-buscador{
    border:none;
    border-radius: 5px;
}
.boton-buscador{
    border: none;
    margin-left: -15px;
    background-color: #fff;
}
/*TERMINA HEADER*/

/*main*/

body{
    background-color: white;
}

main{
    opacity: 0.9;
}

h1{
    font-size: 24px;
    font-family: gemunu libre;
    width: 85%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 7%;
}

h3{
    font-family: gemunu libre;
    padding-top: 10px;
    padding-bottom: 10px;
}
.precio2{
    padding: 0;
}

.boton-de-pago{
    text-align: center;
    width: 120px;
    background-color:#8C1B1B;
    color: white;
    border-radius:5px;
    padding: 5px;
}
.subtítulo{
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    font-family:gemunu libre;
}
.message{
    width: 100%;
}
.primeros-parrafos{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 30px;
}

.conteinerTodo{
    box-shadow: 0px 0px 10px rgb(100 100 100);
    margin: 30px;
}
.terminos{
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    text-align: center;
}
.inicio{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
}

.descripcion{
display: block;
margin-left: 15%;
}

.imagenes{
    display: contents;
}

.nombre-libro{
    font-size: 20px;
    font-family:gemunu libre;
}

.estrellas{
    color:#eac926;
    font-size: 10px;
    padding-top: 15px;
}

p{
    font-size: 12px;
    font-family: 'Roboto';
    
}

.boton-cantidad{
    width: 20px;
    border-radius: 3px;
}

button{
    width: 70px;
    background-color: #8C1B1B;
    color:white;
    border-radius: 5px;
}
.conteinerDesc{
    display: flex;
}

.libro1 {
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}

.libro2{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}

.libro3{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}

.libro-despues{
    width: 20%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    padding: 10px;
    
}
.libro-visitante{
    width: 15%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    padding: 10px;
}
.libro-lasangremanda{
    width: 16%;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    padding: 10px;
}
.parte-derecha-descripcion{
    text-align: center;
    display: flex;
    line-height: 2;
    justify-content: center;
    flex-direction: column;
}
.boton-eliminar{
    width: 120px;
    padding: 5px;
    margin-top: 20px;
    text-align: center;
}

.formas-de-pago{
    display: flex;
    padding: 15px;
    border: solid #8C1B1B 1px;
    background-color: white;
    padding-bottom: 10px;
    justify-content: space-between;
}

.detalle-de-pago{
    border: solid #8C1B1B 1px;
    background-color: white;
    display: flex;
    padding: 15px;
    padding-bottom:10px;
}

h6{
    font-size: 12px;
    text-align: center;
}
.boton-seguir-comprando{
    display: block;
    margin:auto;
    padding: 5px;
    background-color: #8C1B1B;
    color: white;
    width: 150px;
    border-radius: 5px;
}

.boton-aplicar{
    background-color: #8C1B1B;
    border-radius: 5px;
    color:white;
    padding: 5px;
}
.agregar-cupon{
    width: 65%;
}
.total{
    display: flex;
    justify-content: space-between;
}
.envío{
    display: flex;
    justify-content: space-between;   
}
.fab{
    font-size: 20px;
    color:#262120;
}
.añadirCupon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto{
    width: 40%;
}
.aplicar{
    display: flex;
    justify-content: space-evenly;
}

.pago{
    background-color: #8C1B1B;
    width: 110px;
    border-radius: 5px;
}

h4{
    font-size: 40px;
    text-align: center;
}
/*TERMINA EL MAIN*/

/* FOOTER */
.mantenteInformado{
    display: flex;
    background-color: #BF8A26;
    flex-direction: row;
    padding: 4px;
    justify-content: space-around;
    margin-top: 30px;
}
.texto{
    flex-grow: 0.50;
    font-family: 'Gemunu Libre';
    font-size: 17px;
}
.email{
    border-radius: 6px;
}
 footer a {
    color: white; 
    font-family: "gemunu libre";
    text-decoration: none;
}
.contenedorFooter{
    display: flex;
    padding: 10px;
    background-color: #262120;
    justify-content: space-around;
}
.contactoYpedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconosFooter{
    display: none;
    flex-direction: row;
}
.ayudaYenvios{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.copyRight{
    background-color: #262120;
    color: white;
    text-align: center;
    padding: 30px;
}
footer button{
    background-color: #8c1b1b;
    color: white;
    padding: 5px;
    margin: 5px;
}

/*TERMINA EL FOOTER*/

/*MEDIA QUERIS*/
/*MOVIL*/
@media (min-width:320){
    .conteinerTodo{
        box-shadow: 0px 0px 10px rgb(100 100 100);
        margin: 10px;
    }
    .primeros-parrafos{
        box-shadow: 0px 0px 10px rgb(100 100 100);
        margin: 30px;
    }
}

/*TABLET*/
@media (min-width:481px){

    /*HEADER*/
    .logo{
        height: 140px;
        width: 140px;
    }
    .links-bottom-header-nav{
        display: flex;
        margin-left: 60%;
    }
    .lista-bottom-header{
        padding: 0 15%;
    }
    .link-informacion{
        margin-left: 80%;
    }
    .fa-home{
        margin-left: -70%;
    }
    .fa-bars{
        display: none;
    }
    .info{
        margin-left: auto;
    }

    /*MAIN*/
    .conteinerTodo{
        margin: 10px;
    }
    .inicio{
        border: solid #8C1B1B 6px;
    }
    .terminos{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .subtítulo{
        border: solid #8C1B1B 6px;
    }
    .libro1{
        border: solid #8C1B1B 6px;
    border-top: none;
    flex-wrap: wrap;
    }
    .libro-despues{
        padding: 0px;
        width: 50%;
    }
    .libro2{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .libro3{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .detalle-de-pago{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .gastos{
        padding-right: 200px;
    }
    .formas-de-pago{
        border: solid #8C1B1B 6px;
    border-top: none;
    }
    .parte-derecha-descripcion{
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    }
    .precio2{
        font-size: 17px;
    }


    /*FOOTER*/
    .iconosFooter{
        display: flex;  
        flex-direction: row;
    }
    .iconosFooter i{
        padding: 5px;
        font-size: 20px;
        color: white;
        border: 1px solid #8c1b1b;
        background-color: #8c1b1b;
        border-radius: 20%;
        margin: 3px;
    }
    .contFooter{
        display: flex;
    }
    footer button{
        background-color: #8c1b1b;
        color: white;
        padding: 5px;
        margin: 5px;
    }
    .dejarMail{
        border-radius: 4px
    }
    .boton-Footer{
        display: contents;
        background-color: #8c1b1b;
        color: white;
        padding: 5px;
        margin: 5px;
    }
    .mantenteInformado{
        align-items: center;
    }
}



@media (min-width:769px){
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
    }

    .nombre-libro{
        font-size: 35px;
    }
    .precio2{
        font-size: 25px;
        margin-top: 20px;
    }
    .libro-visitante{
        width: 15%;
    }
    .estrellas{
        color:#eac926;
        font-size: 20px;
        padding-top: 15px;
    }

    .info{
        margin-left: auto;
    }
    .seguir-comprando{
        width: 160px;
        height: 30px;
        text-align: center;
    }
    .pago{
        width: 130px;
        height: 30px;
        text-align: center;
    }
    .boton-aplicar{
        text-align: center;
    }
   
}

@media (min-width:1600px){
    .libro-visitante{
        width: 10%;
    }
}