*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


.header-top-bar{
    background-color:#D9D9D9;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 50px;
    height: 70px;
    margin-right: 10px;
}
.nav-header-top-bar{
    max-width: 300px;
    line-height: 4%;
}
.lista-top-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li-header-top{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}
.link-registrate{
    text-decoration: none;
    color:#262120;
}
.link-inicia-sesion{
    text-decoration: none;
    color:#262120;
    padding: 15px;
}
.fa-shopping-cart {
    color:#262120;
    font-size: 18px;
}


.header-bottom-bar{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.lista-bottom-header{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.links-bottom-header-nav{
    text-decoration: none;
    color:#D9D9D9;
    display: none;
}
.fa-home{
    color:#D9D9D9;
    font-size: 25px;
    margin-left: 38%;
}
.buscador{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-self: flex-start;
}
.input-buscador{
    border:none;
    border-radius: 5px;
}
.boton-buscador{
    border: none;
    margin-left: -15px;
    background-color: #fff;
}


p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:1px;
    font-size: 14px;
}

h2{
    font-family: 'Gemunu Libre', sans-serif;
}

h3{
    font-family: 'Gemunu Libre', sans-serif;
    padding:1px;
}

main article{
    display: flex;
    background-color: #D9D9D9;
}

.enviogratis{
    background-color: #BF8A26;
    color: white;
    display: flex;
    width: 100%;
    padding: 5px;
    align-items: center;
    justify-content: center;
}

.categorias{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: white;
    border-width: 90%;
    margin: 10px;
    align-items: center;
    width: 100%;
}

.fotolibro{
    width: 50%;
    margin: 10px;
    text-align: center;
}

.tituloLibro{
    width: 100%;
    margin: 10px;
    background-color: white;
}

.detalles{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px;
    padding: 10px;
}


.derecha{
    display: flex;
    flex-direction: column;
}

.estrellas{
    width: 30%;
}

.precio{
    color: #8C1B1B;
    text-align: center;
    margin: 10px;
}

.boton{
    background-color: #8C1B1B;
    color: #D9D9D9;
    border: 1px solid #262120;
    text-align: center;
    padding: 6px;
}

.compartir{
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.fa-envelope{
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid #8c1b1b;
    background-color: #8c1b1b;
    border-radius: 20%;
    margin: 3px;
}

.fa-facebook-f{
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid #8c1b1b;
    background-color: #8c1b1b;
    border-radius: 20%;
    margin: 3px;
}

.fa-twitter{
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid #8c1b1b;
    background-color: #8c1b1b;
    border-radius: 20%;
    margin: 3px;
}

.fa-pinterest-p{
    padding: 5px;
    font-size: 20px;
    color: white;
    border: 1px solid #8c1b1b;
    background-color: #8c1b1b;
    border-radius: 20%;
    margin: 3px;
}

.articulodisponible{
    display: flex;
    flex-direction: column;
    width:100%;
    border-top: 1px solid #D9D9D9;
}

.envio{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.disponible{
    display: flex;
    justify-content: center;
}

.cohete{
    font-size: 25px;
    padding: 3px;
}

.fa-clock{
    font-size: 25px;
    padding: 3px;
}

.miniborde{
    border-bottom: 1px solid #D9D9D9;;
}

.descripcion{
    background-color: white;
    margin: 10px;
    padding:10px;
}

.descubre{
    background-color: white;
    margin: 10px;
    padding:10px;
    width: 100%;
}

.detalledelproducto{
    background-color: white;
    margin: 10px;
    padding:10px;
    width: 100%;
}

.alinear{
    display: flex;
    padding: 4px;
    flex-direction: row;
    align-items: center;
}

.productobuscado{
    background-color: white;
    margin: 10px;
    padding:10px;
    width: 100%;
}

.compraron{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.columna{
    display: flex;
    flex-direction: column;
}

.fotosfinal{
    width: 70%;
}

.precios{
    color: #8C1B1B;
}

.botones{
    background-color: #8C1B1B;
    color: #D9D9D9;
    text-align: center;
    padding: 6px;
    width: 80%;
}

/* FOOTER */
.mantenteInformado{
    display: flex;
    background-color: #BF8A26;
    flex-direction: row;
    padding: 4px;
    justify-content: space-around;
}

.texto{
    flex-grow: 0.50;
    font-family: 'Gemunu Libre';
    font-size: 17px;
}

.email{
    border-radius: 6px;
}

a {color: white; font-family: "gemunu libre"
    ; text-decoration: none;}

.contenedorFooter{
    display: flex;
    padding: 10px;
    background-color: #262120;
    justify-content: space-around;
}

.contactoYpedido{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconosFooter{
    display: flex;
    flex-direction: row;
}

.ayudaYenvios{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.copyRight{
    background-color: #262120;
    color: white;
    text-align: center;
    padding: 30px;
}

@media (min-width:320px){
    .seVeEnTablet{
        display: none;
    }
    .tituloTablet{
        display: none;
    }
    /*footer*/
    .iconosFooter{
        display: none;
    }
}

@media (min-width:768px){
    .links-bottom-header-nav{
        display: flex;
        margin-left: 60%;
    }
    .lista-bottom-header{
        padding: 0 15%;
    }
    .link-informacion{
    margin-left: 80%;
    }
    .fa-home{
        margin-left: -70%;
    }
    .noSeVeEnTablet{
        display: none;
    }
    .itemImg{
        display: flex;
    width: 50%;
    flex-direction: column;
    background-color: white;
    align-items: center;    
    }

    .itemTools{
        display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    width: 50%;
    font-size: 20px;
    padding: 10px;
    }

.compartir{
    display: flex;
    flex-direction: row;
    padding: 1px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}

    .seVeEnTablet{
        display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    padding-top: 0px;
    justify-content: center;
    }

    .tituloTablet{
        display: flex;
    background-color: white;
    margin: 5px;
    justify-content: center;
    width: 100%;
    font-size: 20px;
    }
    .estrellasydatos{
        flex-grow: 0.25;
    padding-left: 10px;
    }
    .precioTablet{
        flex-grow: 0.25;
    text-align: left;
    font-size: 29px;
    padding: 15px 10px 10px;
    border-bottom: 1px solid #ebebeb;
    color: #8C1B1B;
    }
    .envio{
        display: flex;
    flex-direction: row;
    padding: 15px 0px;
    align-items: center;
    }
    .disponible{
        display: flex;
    justify-content: center;
    padding: 10px 0px;
    }
    .contenedorEnvio{
        flex-grow: 0.25;
    border-bottom: 1px solid #ebebeb;
    } 
    .boton{
        background-color: #8C1B1B;
    color: #D9D9D9;
    border: 1px solid #262120;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    }
    /*footer*/
    .iconosFooter{
        display: flex;  
        flex-direction: row;
    }
    .fa-instagram{
        padding: 5px;
        font-size: 20px;
        color: white;
        border: 1px solid #8c1b1b;
        background-color: #8c1b1b;
        border-radius: 20%;
        margin: 3px;
    }
    }



@media (min-width:1200px){
    header{
        font-size: 20px;
    }
    .header-top-bar{
        padding:30px 10%;
    }
    .header-bottom-bar{
        padding: 25px 10%;
    }
    .li-header-top{
        font-size: 20px;
        padding: 20px;
    }
}
