/* HEADER*/

*{
    margin: 0px;
    padding: 0px;
}
.header-top-bar{
    background-color:#D9D9D9;
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    width: 140px;
    height: 140px;
}
.nav-header-top-bar{
    max-width: 300px;
    line-height: 4%;
}
.lista-top-header{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.li-header-top{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    
}
.link-registrate{
    text-decoration: none;
    color:#262120;
}
.link-inicia-sesion{
    text-decoration: none;
    color:#262120;
    padding: 15px;
}
.fa-shopping-cart {
    color:#262120;
    font-size: 18px;
}
.header-bottom-bar{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.lista-bottom-header{
    list-style: none;
    display: flex;
    flex-direction: row;
}
.links-bottom-header-nav{
    text-decoration: none;
    color:#D9D9D9;
    display: none;
}
.fa-home{
    color:#D9D9D9;
    font-size: 25px;
    margin-left: 38%;
}
.buscador{
    height: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-self: flex-start;
}
.input-buscador{
    border:none;
    border-radius: 5px;
}
.boton-buscador{
    border: none;
    margin-left: -15px;
    background-color: #fff;
}



/*REGISTRO*/

.registro{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px 0 ;
}
.registrate-nuestra-web{
    background-color: #262120;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 0.5;
    text-align: center;
    color:white;
    width: 80%;
    border-radius: 5%;
    margin-bottom: 5%;
    padding: 2%;
    font-family: 'Roboto',sans-serif;
}
.inputs-registro{
    font-family: 'Gemunu Libre',sans-serif;
    font-size: 1.3rem;
    margin: 4% 0;
    max-width: 55%;
    padding-left: 15px;
}
.boton-registrarme{
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    background-color:#8C1B1B;
    color: white;
    font-size: 18px;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}
.registrate-con{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    color:white;
    width: 80%;
    border-radius: 5%;
    margin-bottom: 5%;
    padding: 2%;
    font-family: 'Roboto',sans-serif;
}
.boton-registrarme-con{
    font-family: 'Roboto',sans-serif;
    font-weight: bolder;
    background-color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
    min-width: 60%;
    border-radius: 30px;
    height: 35px;
}
.logo-boton{
    font-size: large;
}


/*MEDIA QUERIES*/
/*TABLET*/
@media (min-width:481px){
    /*HEADER*/
    .links-bottom-header-nav{
        display: flex;
        margin-left: 60%;
    }
    .lista-bottom-header{
        padding: 0 15%;
    }
    .link-informacion{
    margin-left: 80%;
    }
    .fa-home{
        margin-left: -70%;
    }

    /*MAIN*/
    
}
/*LAPTOP*/
@media (min-width:769px){
    header{
        font-size: 20px;
    }
    .header-top-bar{
        padding:30px 10%;
    }
    .header-bottom-bar{
        padding: 25px 10%;
    }
    .li-header-top{
        font-size: 20px;
    }
}