*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

/*REGISTRO*/

.reg-main-div{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin: 20px 0 ;
}
.reg-div-nuestra-web{
    background-color: #262120;
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-grow: 0.5;
    text-align: center;
    color:white;
    width: 80%;
    margin-bottom: 5%;
    padding: 2%;
}
.reg-inputs{
    font-family: 'Gemunu Libre',sans-serif;
    font-size: 1.3rem;
    margin: 4% 0;
    max-width: 55%;
    padding-left: 15px;
}
.reg-botones-nuestra-web{
    background-color:#8C1B1B;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
    width: 45%;
}
.reg-botones-nuestra-web a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;
}
.reg-text{
    padding: 20px;
}
.reg-con{
    background-color: #8C1B1B;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    color:white;
    width: 80%;
    margin-bottom: 5%;
    padding: 8% 2%;
}
.reg-con-boton{
    font-weight: bolder;
    background-color: white;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4% 0;
    min-width: 60%;
    border: none;
    height: 35px;
}
.reg-google{
    height: 20px;
    margin: 0;
}
.reg-facebook{
    color:#1877F2 ;
}
.reg-twitter{
    color: rgb(29, 155, 240);
}
.reg-linkedIn{
    color:#0a66c2;
}
/*MEDIA QUERIES*/
/*TABLET*/
@media (min-width:481px){
    /*MAIN*/
    .reg-main-div{
        flex-direction: row;
        margin:5%;
    }
    .reg-con{
        align-self: stretch;
        padding:  2%;
    }
    .reg-con h2{
        padding-bottom: 10%;
    }
}
    /*LAPTOP*/
@media (min-width:769px){
     
    /*MAIN*/
    .reg-main-div{
        margin: 5% 15%;
    }
    .reg-form{
        width: 70%;
    }
    .reg-inputs{
        font-family: 'Gemunu Libre',sans-serif;
        font-size: 1.3rem;
        margin: 4% 0;
        max-width: 70%;
        padding-left: 15px;
    }
    .reg-botones-nuestra-web{
        width: 50%;
    }
    .reg-botones-nuestra-web:hover{
        background-color: rgba(140, 27, 27, 0.8);
    }
    .reg-con-boton{
        margin: 3% 0;
    }
    .reg-facebook:hover{
        background-color: #1877F2;
        color: white;
    }
    .reg-twitter:hover{
        background-color: rgb(29, 155, 240);
        color: white;
    }
    .reg-linkedIn:hover{
        background-color: #0a66c2;
        color: white;
    }
}